/* 폰트 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}



@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}


/* 노말라이즈 */
body, ul, li, span, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
  font-family: 'Pretendard';
}

.con {
  width: 1530px;
  margin: 0 auto;
}

/* .sec-4 시작 */
.sec-4 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-4 > .img-box {
  width: 1920px;
}

.sec-4 > .img-box > img {
  display: block;
  width: 100%;
}

.sec-4 > .con > .text-box {
  position: absolute;
  top: 128px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sec-4 > .con > .text-box > .title {
  font-family: 'PT Serif';
  font-size: 50px;
  color: #2F2F2F;
}

.sec-4 > .con > .text-box > .sub {
  font-size: 18px;
  font-weight: 300;
  color: #555555;
  margin-top: 20px;
}

.sec-4 > .con > .text-box > .button {
  margin-top: 60px;
  color: #3F5143;
}

.sec-4 > .con > .text-box > .button > a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
}

.sec-4 > .con > .text-box > .button > a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #647160;
  transition: .3s;
}

.sec-4 > .con > .text-box > .button > a:hover::after {
  width: 100%;
}

/* .sec-8 시작 */
.sec-8 {
  width: 1920px;
  margin: 0 auto;
  background-color: #647160;
  padding-top: 204px;
  padding-bottom: 204px;
  text-align: center;
}

.sec-8 > .con > .text-box {
  color: #F7F4F1;
}

.sec-8 > .con > .text-box > .top {
  font-family: 'PT Serif';
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 26px;
}

.sec-8 > .con > .text-box > .bottom {
  color: #C8C8C8;
}


/* .sec-9 시작 */
.sec-9 {
  width: 1920px;
  margin: 0 auto;
  background-color: #F7F4F1;
  padding-top: 55px;
  padding-bottom: 55px;
}

.sec-9 > .con > .top-text {
  display: flex;
  gap: 48px;
}

.sec-9 > .con > .top-text > a {
  display: block;
  color: #3C3C43;
  font-size: 14px;
  font-weight: 400;
}

.sec-9 > .con > img {
  display: block;
  width: 1530px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.sec-9 > .con > .info {
  color: #3C3C43;
  font-size: 14px;
  font-weight: 400;
}

.sec-9 > .con > .info > .top {
  margin-bottom: 6px;
}

.sec-9 > .con > .info > .bottom {
  margin-bottom: 14px;
}

.sec-9 > .con > .info > .copy {
  color: #9D9DA0;
}