/* 폰트 */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}



@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}


/* 노말라이즈 */
body, ul, li, span, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
  font-family: 'Pretendard';
}

.con {
  width: 1530px;
  margin: 0 auto;
}

/* .sec-1 시작 */
.sec-1 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-1 > .img-box {
  width: 1920px;
}

.sec-1 > .img-box > a > img {
  display: block;
  width: 100%;
}

.sec-1 > .text-img {
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translateX(-50%);
  width: 690px;
}

.sec-1 > .text-img > img {
  display: block;
  width: 100%;
}

.sec-1 > .text-box {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.sec-1 > .text-box > .sub {
  color: #BFBFBF;
  font-family: 'Merriweather';
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
}

/* .sec-4 시작 */
.sec-4 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
}

.sec-4 > .img-box {
  width: 1920px;
}

.sec-4 > .img-box > img {
  display: block;
  width: 100%;
}

.sec-4 > .con > .text-box {
  position: absolute;
  top: 128px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sec-4 > .con > .text-box > .title {
  font-family: 'PT Serif';
  font-size: 50px;
  color: #2F2F2F;
}

.sec-4 > .con > .text-box > .sub {
  font-size: 18px;
  font-weight: 300;
  color: #555555;
  margin-top: 20px;
}

.sec-4 > .con > .text-box > .button {
  margin-top: 60px;
  color: #3F5143;
}

.sec-4 > .con > .text-box > .button > a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
}

.sec-4 > .con > .text-box > .button > a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #647160;
  transition: .3s;
}

.sec-4 > .con > .text-box > .button > a:hover::after {
  width: 100%;
}

/* .sec-5 시작 */
.sec-5 {
  position: relative;
  width: 1920px;
  margin: 0 auto;
  background-color: #F7F4F1;
  padding-top: 109px;
  padding-bottom: 158px;
}

.sec-5 > .con > .info > .top {
  display: flex;
  gap: 22px;
  align-items: center;
  margin-bottom: 20px;
}

.sec-5 > .con > .info > .top > img {
  display: block;
  width: 47px;
  height: 2px;
}

.sec-5 > .con > .info > .top > .sub {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 17px;
  color: #8D8D8D;
}

.sec-5 > .con > .info > .text-box {
  display: flex;
  align-items: baseline;
  gap: 6px;
  margin-bottom: 42px;
}

.sec-5 > .con > .info > .text-box > a {
  display: block;
  font-family: 'Merriweather';
  font-size: 44px;
  font-weight: 400;
  color: #2F2F2F;
}

.sec-5 > .con > .info > .text-box > img {
  display: block;
  width: 4px;
  height: 4px;
}

.sec-5 > .con > img {
  display: block;
  width: 1530px;
  margin-bottom: 60px;
}

.sec-5 > .con > .info-img {
  display: flex;
  gap: 20px;
}

.sec-5 > .con > .info-img > .info-1 {
  position: relative;
}

.sec-5 > .con > .info-img > .info-1 > a > img,
.sec-5 > .con > .info-img > .info-3 > a > img {
  display: block;
  width: 367px;
}

.sec-5 > .con > .info-img > .info-1 > .title {
  position: absolute;
  top: 33px;
  left: 40px;
  font-family: 'Merriweather';
  font-size: 32px;
  color: #F7F4F1;
}

.sec-5 > .con > .info-img > .info-1 > .button {
  position: absolute;
  top: 398px;
  right: 20px;
}

.sec-5 > .con > .info-img > .info-1 > .button > button {
  border: 1px solid #F7F4F1;
  background-color: transparent;
  border-radius: 100%;
  padding: 12px 6px;
  color: #F7F4F1;
  cursor: pointer;
  font-weight: 500;
  transition: background-color .3s;
}

.sec-5 > .con > .info-img > .info-1 > .button > button:hover {
  background-color: #F7F4F1;
  color: #2F2F2F;
}

.sec-5 > .con > .info-img > .info-3 {
  position: relative;
}

.sec-5 > .con > .info-img > .info-3 > .title {
  position: absolute;
  top: 33px;
  left: 40px;
  font-family: 'Merriweather';
  font-size: 32px;
  color: #F7F4F1;
}

.sec-5 > .con > .info-img > .info-3 > .button {
  position: absolute;
  top: 398px;
  right: 20px;
}

.sec-5 > .con > .info-img > .info-3 > .button > button {
  border: 1px solid #F7F4F1;
  background-color: transparent;
  border-radius: 100%;
  padding: 12px 6px;
  color: #F7F4F1;
  cursor: pointer;
  font-weight: 500;
  transition: background-color .3s;
}

.sec-5 > .con > .info-img > .info-3 > .button > button:hover {
  background-color: #F7F4F1;
  color: #2F2F2F;
}

.sec-5 > .con > .info-img > .info-2 > a > img,
.sec-5 > .con > .info-img > .info-4 > a > img {
  position: relative;
  display: block;
  width: 368px;
}

.sec-5 > .con > .info-img > .info-2 {
  position: relative;
}

.sec-5 > .con > .info-img > .info-2 > .title {
  position: absolute;
  top: 33px;
  left: 40px;
  font-family: 'Merriweather';
  font-size: 32px;
  color: #F7F4F1;
}

.sec-5 > .con > .info-img > .info-2 > .button {
  position: absolute;
  top: 398px;
  right: 20px;
}

.sec-5 > .con > .info-img > .info-2 > .button > button {
  border: 1px solid #F7F4F1;
  background-color: transparent;
  border-radius: 100%;
  padding: 12px 6px;
  color: #F7F4F1;
  cursor: pointer;
  font-weight: 500;
  transition: background-color .3s;
}

.sec-5 > .con > .info-img > .info-4 {
  position: relative;
}

.sec-5 > .con > .info-img > .info-4 > .title {
  position: absolute;
  top: 33px;
  left: 40px;
  font-family: 'Merriweather';
  font-size: 32px;
  color: #F7F4F1;
}

.sec-5 > .con > .info-img > .info-4 > .button {
  position: absolute;
  top: 398px;
  right: 20px;
}

.sec-5 > .con > .info-img > .info-4 > .button > button {
  border: 1px solid #F7F4F1;
  background-color: transparent;
  border-radius: 100%;
  padding: 12px 6px;
  color: #F7F4F1;
  cursor: pointer;
  font-weight: 500;
  transition: background-color .3s;
}

/* .sec-8 시작 */
.sec-8 {
  width: 1920px;
  margin: 0 auto;
  background-color: #647160;
  padding-top: 204px;
  padding-bottom: 204px;
  text-align: center;
}

.sec-8 > .con > .text-box {
  color: #F7F4F1;
}

.sec-8 > .con > .text-box > .top {
  font-family: 'PT Serif';
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 26px;
}

.sec-8 > .con > .text-box > .bottom {
  color: #C8C8C8;
}


/* .sec-9 시작 */
.sec-9 {
  width: 1920px;
  margin: 0 auto;
  background-color: #F7F4F1;
  padding-top: 55px;
  padding-bottom: 55px;
}

.sec-9 > .con > .top-text {
  display: flex;
  gap: 48px;
}

.sec-9 > .con > .top-text > a {
  display: block;
  color: #3C3C43;
  font-size: 14px;
  font-weight: 400;
}

.sec-9 > .con > img {
  display: block;
  width: 1530px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.sec-9 > .con > .info {
  color: #3C3C43;
  font-size: 14px;
  font-weight: 400;
}

.sec-9 > .con > .info > .top {
  margin-bottom: 6px;
}

.sec-9 > .con > .info > .bottom {
  margin-bottom: 14px;
}

.sec-9 > .con > .info > .copy {
  color: #9D9DA0;
}